body{
    background: black;
    background-size: cover;
    background-repeat: repeat-y;
    color: blacks;
    font-family: Arial, Helvetica, sans-serif;
}
.box h1{
    font-size:70px;
    font-weight: bold;
    color: rgb(145, 7, 7);
    text-align: center;
}
.box button{
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 70px;
    background-color: red;
    border: none;
    padding: 7px 14 px;
}
.box button a{
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    text-align: center;
    }
#firstpara{
    font-size: 60px;
    /*margin: 70px 551px;*/
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
}
#sndpara{
    font-size: 33px;
   /* margin: 0px 478px;*/
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
    margin-top: -55px;
}
.jumbotron {
    background: grey;
    padding: 10%;
}
.jumbotron_model {
    background: grey;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.jumbotron_model p{
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}
.jumbotron_model h2{
    text-align: center;
    color: white;
}
.jumbotron h1{
    text-decoration-color: white;
}
.jumbotron h2{
    text-align: center;
    color: white;
}
.jumbotron p{
    text-align: center;
    font-size: 35px;
    padding-bottom: 40px;
}
  
* {
    box-sizing: border-box;
}

.column {
    float:left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container{
    max-width: 1800px;
    margin: auto;
    overflow:auto;
}
.gallery{
    margin: 20px;
    float: center;
    width: 250px;
}
.gallery img{
    width:100%;
    float: center;
    height: auto;
}

.title {
    font-size: 30px;
}

.jumbotron_model img {
    padding-bottom: 50px;
    align-content: center;
}

.deep_learning {
    padding-left: 25%;
}

.svm {
    padding-left: 31.5%;
}

.logreg {
    padding-left: 27%;
}

.forest {
    padding-left: 25%;
}