<html lang="en">
<div class="container">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Predict Your Rating</title>
</head>

<body>
    <div class="box">

        <p id="firstpara" style= "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Figure out prediction ratings
        </p>
        <p id="sndpara" style= "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Using Various Models
        </p>
        <button><a href="home">Home</a> </button>
       <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">IMDB Predictor</a>-->
    </div>
</body>
</div>
</html>