<!DOCTYPE html>
<html lang="en-us">
  <head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    <title>IMDB Project</title>
​
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
	<link rel="stylesheet" type="text/css" href="../static/css/members.css">
​
  </head>
​
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">IMDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data-table">Data</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tableau
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="tableauyear">Release Year</a>
              <a class="dropdown-item" href="tableaugenre">Genre</a>
              <a class="dropdown-item" href="tableaudirector">Director</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="rf">Random Forest</a>
              <a class="dropdown-item" href="models">Other Models</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members">Members</a> 
          </li>
        </ul>
      </div>
    </div>  
  </nav>
<!--END OF NAVBAR-->
    <!--Containers w/ model summaries-->
    <div class="box">
      <div class="jumbotron_model" style="background-color:black;">
        <h1 style="text-align: center;">More About Models</h1>
        <hr>
        <p style="color:whitesmoke;">Our team contructed several machine learning models in order to determine which model works best for our data. Below you can see some of the models we tried and what factors were used to select the best model.</p>

        <h2>Deep Learning</h2>
        <img class=deep_learning src="../static/Images/dl-final.png" title="Deep Learning">
        
        <h2>Service Vector Machine</h2>
        <img class=svm src="../static/Images/svm-final.png" title="SVM">
        
        <h2>Logistic Regression</h2>
        <img class=logreg src="../static/Images/lr-final.png" title="Logistic">
        
        <h2>Random Forest Classifier</h2>
        <img class=forest src="../static/Images/rf-final.png" title="Random Forest">
      </div>
    </div>
  </body>
</html>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>