<!DOCTYPE html>
<html lang="en-us">
  <head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    <title>IMDB Project</title>
​
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
​
  </head>
​
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">IMDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data-table">Data</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tableau
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="tableauyear">Release Year</a>
                <a class="dropdown-item" href="tableaugenre">Genre</a>
                <a class="dropdown-item" href="tableaudirector">Director</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Models
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="rf">Random Forest</a>
                <a class="dropdown-item" href="models">Other Models</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members">Members</a> 
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
<!--END OF NAVBAR-->
    <div class="jumbotron" style="background-image: url('/static/Images/forest2.jpg'); background-size: 100%;">
        <div class="container for-about">
        <div class="container">
        <h1 class="display-3" style= "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Can You See Through the Forest?</h1>
        <p class="lead">Check out the Random Forest model below. Here you can predict a movie rating based on genre, year, duration, and director!</p>
        </div>
    </div>

    <form action= "/rfresults" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputYear">Year</label>
          <select id="inputYear" name= "inputYear" class="form-control" required>
            <option selected>Choose year</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputDuration">Duration (minutes)</label>
          <input type="duration" class="form-control" name = "inputDuration" id="inputDuration" required>
        </div>
        <div class="form-group col-md-4">
          <label for="inputBudget">Budget ($US)</label>
          <input type="budget" class="form-control" name= "inputBudget" id="inputBudget" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputGenre">Genre</label>
            <select id="inputGenre" name= "inputGenre" class="form-control" required>
              <option selected>Choose genre</option>
              <option>Action</option>
              <option>Adventure</option>
              <option>Animation</option>
              <option>Biography</option>
              <option>Comedy</option>
              <option>Crime</option>
              <option>Drama</option>
              <option>Family</option>
              <option>Fantasy</option>
              <option>Horror</option>
              <option>Musical</option>
              <option>Mystery</option>
              <option>Romance</option>
              <option>Sci-Fi</option>
              <option>Thriller</option>
              <option>Western</option>
             </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputDirector">Director</label>
            <select id="inputDirector" name="inputDirector" class="form-control" required>
              <option selected>Choose director</option>
              <option>J.J. Abrams</option>
              <option>Michael Bay</option>
              <option>Quentin Tarentino</option>
              <option>Martin Scorsese</option>
              <option>Antoine Fuqua</option>
              <option>Steven Spielberg</option>
              <option>Anthony Russo</option>
              <option>Clint Eastwood</option>
              <option>Tyler Perry</option>
              <option>David Gordon Green</option>
            </select>
        </div>
      </div>
      <button id= "button" type="submit" class="btn btn-primary">Predict Rating</button>
    </form>

    <div class= "row">
      <div class= "col-md-12">
        <p class= "lead">
          Your movie will receive a <b>{{ratingResult}}</b> rating!
        </p>
      </div>
    </div>





  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="../static/js/predict-app.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>